node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
public/build
public/hot
.env
.git
.gitignore
README.md
*.md
*.bat
*.ps1
php-portable
xampp-installer.exe
nodejs-installer.msi
composer-setup.php
php-src.zip
php.zip
